body {
 margin: 0;
}#end-screen {
  display: none;
}

#menu-container {
  color: #fff;
  left: 35%;
  margin: auto;
  position: absolute;
  text-align: center;
  top: 40%;
  width:30%;
  z-index: 999;
}

.wrapper {
   display: table;
   padding: 0;
   width: 100%;
   height: 100%;
   position: absolute;
}
.container {
   display: table-cell;
   vertical-align: middle;
}
.canvas-container {
   position: relative;
   max-width: 500px;
   min-width: 280px;
   margin: 0 auto;
}
#game-canvas {
   width: 100%;
   height: auto;
   background: #000;;
}